<% if signed_in? %>
  <div class="row">
    
    <aside class="col-md-4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      
      <section>
          <%= form_tag({controller: :main_pages, action: :home}, class: "form-inline") do %>
            <%= text_field_tag :origin, '', size: '100%', class: "form-control", placeholder: "keyword" %>
            <%= button_tag(type: "submit", class: "btn btn-default") do %>
            Search <i class="fa fa-search"></i>
            <% end %>
          <% end %>
          
          <% if @driver_posts.any? %>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="col-xs-9">Message</th>
                  <th class="col-xs-2">Repository</th>
                  <th class="col-xs-1">SHA</th>
                </tr>
              </thead>
              <tbody>
                <% @driver_posts.each do |driver_post| %>
                <tr>
                  <td><%= driver_post.origin %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
          
          
      </section>

    </aside>
    
    <div class="col-md-8">
      <h3><%= current_user.name %>さんの現在進行中の交渉</h3>
      　　<%= render 'negotiations/index' %>
      

    
    </div>
    
  </div>
<% else %>

  <body style="background-image:url(<%= asset_path "tsuno.jpg" %>)" />
  
    <h1>どこ行く？</h1>
  
    <%= link_to "Sign up now!", new_user_registration_path , class: "btn btn-lg btn-primary" %>
    
  </body>

<% end %>