<% if signed_in? %>
  <div class="row">
    
    <aside class="col-md-4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      
      <section>
        <h2>各カテゴリーから検索する</h2>
          <%= search_form_for @q, url: root_url do |f| %>

            <%= f.label :origin_cont, "出発地" %>
            <%= f.search_field :origin_cont %>
            <br />

            <%= f.label :destination_cont, "目的地" %>
            <%= f.search_field :destination_cont %>
            <br />
            
            <div class='input-group date datepicker'>
            <%= f.label :departure_date_cont, "日程　" %>
            <%= f.search_field :departure_date_cont, class: 'form-control'%>
              <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
  　　        　</span>
            </div> 

            <%= f.label :content_cont, "その他" %>
            <%= f.search_field :content_cont %>
            <br />

            <%= f.submit '検索する'%>
          <% end %>

          <% if @driver_posts.any? %>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="col-xs-4">出発地</th>
                  <th class="col-xs-4">目的地</th>
                  <th class="col-xs-4">日時</th>
                </tr>
              </thead>
              <tbody>
                <% @driver_posts.each do |driver_post| %>
                <tr>
                  <td><%= driver_post.origin %></td>
                  <td><%= driver_post.destination %></td>
                  <td><%= driver_post.departure_date %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>

       </section>

    </aside>
    
    <div class="col-md-8">
      <h3><%= current_user.name %>さんの現在進行中の交渉</h3>
      　　<%= render 'negotiations/index' %>
    </div>
    
  </div>
<% else %>

  <body style="background-image:url(<%= asset_path "tsuno.jpg" %>)" />
  
    <h1 class="dokoiku">さあ、どこ行く？</h1>
  
    <%= link_to "Sign up now!", new_user_registration_path , class: "btn btn-lg btn-primary" %>
    
  </body>

<% end %>