<% if signed_in? %>
  <div class="row">
    
    <aside class="col-md-5">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      
      <section>
        <div class="jumbotron">
        <div class="glyphicon glyphicon-search", id='searchDP'>各カテゴリーから検索する</div>
         <!--p id='searchDP'>各カテゴリーから検索する</p-->
          <%= search_form_for @q, url: root_url do |f| %>

            <%= f.label :origin_cont, "出発地" %>
            <%= f.search_field :origin_cont, size:12 %>
      
            <%= f.label :destination_cont, "目的地" %>
            <%= f.search_field :destination_cont, size:12 %>
            <br />
            
            <%= f.label :departure_date_cont, "日程　  ", class: 'nittei'%>
            <div class='input-group date datepicker input-group-sm'>
            <%= f.search_field :departure_date_cont, class: 'form-control', id: 'homedatepicker0' %>
              <span style="float:left", class="input-group-addon", id: 'homedatepicker1'>
               <span class="glyphicon glyphicon-calendar", id: 'homedatepicker2', aria-hidden="true"></span>
              </span>
            </div> 

            <%= f.label :content_cont, "その他" %>
            <%= f.search_field :content_cont %>
            <br />

            <%= f.submit '検索', class: "btn btn-primary btn-lg", id: "searchDriverPost"%>
           <% end %>
           </div>

          <% if @driver_posts.any? %>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="col-xs-4">出発地</th>
                  <th class="col-xs-4">目的地</th>
                  <th class="col-xs-4">日時</th>
                </tr>
              </thead>
              <tbody>
                <% @driver_posts.each do |driver_post| %>
                <tr>
                  <td><%= driver_post.origin %></td>
                  <td><%= driver_post.destination %></td>
                  <td><%= driver_post.departure_date %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>

       </section>

    </aside>
    
    <div class="col-md-7", id='homecontent'>
      　　<%= render 'negotiations/index' %>
    </div>
    
  </div>
<% else %>

  <body id="pic", style="background-image:url(<%= asset_path "tsuno.jpg" %>)" />
  
    <h1 class="dokoiku">さあ、どこ行く？</h1>
    
    <section class="buttons">
        <svg>
         <rect x="0" y="0" fill="none" width="100%" height="100%"/>
        </svg>
         <%= link_to "Sign up", new_user_registration_path , class: "btn btn-2", id: 'word0' %>
    </section>
  </body>

<% end %>