<h1><%= @topic.title %></h1>

<div id="post-list">
<% @posts.each do |post| %>
  <div class="post">
    <div class="post-header">
      <%= post.post_number %>：<%= post.contributor %></div>
    </div>
    <div class="post-body">
      <%= post.content %>
    </div>
    <div class="post-footer">
      <%= link_to '削除', [@topic, post], method: :delete, data: { confirm: '本当によろしいですか？' } %>
    </div>
  </div>
<% end %>
</div>

<p id="notice"><%= notice %></p>

<%= form_for([@topic, @post]) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contributor, '投稿者名' %><br />
    <%= f.text_field :contributor, :size => 20 %>
  </div>
  <div class="field">
    <%= f.label :content, '投稿内容' %><br />
    <%= f.text_area :content, :size => '60x5' %>
  </div>
  <div class="actions">
    <%= f.submit '投稿' %>
  </div>
<% end %>


<%= link_to 'トピック一覧に戻る', topics_path %>